<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1>Voter</h1>
  <i ng-hide="isLoggedIn()" class="fa fa-line-chart chartIcon"></i>
    <div ng-show="isLoggedIn()"><a href="newPoll/" class="btn btn-primary">New Poll</a>&nbsp;<a href="mypolls/" class="btn btn-success ">My Polls</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>New Poll</h1>
      
      <form ng-submit="addPoll()">
        <div class="form-group">
          <label for="pollTitle">Poll Title (required)</label>
          
          <input type="text" class="form-control" ng-model="pollTitle" placeholder="What's your favorite color?">
        </div>
        
        <div class="form-group">
          <label>Choices (at least two)</label>
          <div ng-repeat="placeholder in placeHolders" class="formchoice">
            <input type="text" class="form-control" placeholder="{{placeholder}}" ng-model="choices[$index]" required><i style="cursor:pointer; color:indianred" ng-click="removeChoice($index)" class="fa fa-times"></i>
          </div>
        </div>
        
        <a class="btn btn-default" ng-click="addChoice()">Add more choices</a>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
    </div>
  </div>
</div>



<!--
    <p>Poll Question</p>

    <form class="comment-form" ng-submit="postQuestion()" name="questionform">
      <input class="form-control" ng-model="newQuestion" rows="1" placeholder="Enter a question for your poll." required></textarea>
      
      <p>Poll Selections</p>
      
      <input class="form-control" ng-model="newSelection1" rows="1" placeholder="Enter a selection for your poll." required></textarea>
      <input class="form-control" ng-model="newSelection2" rows="1" placeholder="Enter a selection for your poll." required></textarea>
      <input class="form-control" ng-model="newCountSel1">
      <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">
    </form>



    <ul class="comment-list">
      <li ng-repeat="poll in pollData">
        <header>{{ poll.pollQuestion }}</header>
        <p>{{ poll.pollSelection1 }}</p>
        <p>{{ poll.pollSelection2 }}</p>
        <p class="likes" ng-click="plusOne($index)">+ {{ poll.countSel1 }}</p>
        <p class="likes" ng-click="plusOne($index)">+ {{ poll.countSel2 }}</p>
      </li>
    </ul>
    -->
</div>
